.container {
  display: flex;
  align-items: flex-start;
  height: auto; 
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;

}

.option {
  margin: 7px;
}

.text{
  padding: 1px;
  font-family: 'Gruppo';font-size: 20px;
  text-align: center;
  color: #666;
 } 

.solved{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.firstView{
  display: flex;
  height: auto; 
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startButton {
  cursor: pointer;
  /* margin: 50px; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* display: block; */
  
  /* flex: 1 */
}
.secondView{
  display: flex;
  /* align-items: flex-start; */
  height: auto; 
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}​
.game {
  /* max-width: 500px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;

}

.gameItem {
  padding: 5px 0px;

}
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: flex-start;

}
.numbersTable{
  margin: 50px;
}

.numbersTable{
  display: flex;
  align-items: flex-start;
  height: auto; 
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numbersBox {
  text-align: center;
  display: flex;
  /* padding: 10px; */
  width: 750px;
  margin-top: 10px;
  border: thin solid #ddd;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.number {
  background-color: #eeeeee;
  border: thin solid #ddd;
  width: 80px;
  height: 70px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  flex: 2;

}
.number:active  {
  background-color: #8a8787;
  border:  thin solid ;
}
.number:hover{
  background-color: #b3b1b1;
}
.guessSubmit {
  margin: 2px;
  cursor: pointer;
}

.newStartButton{
  cursor: pointer;
  /* margin: 50px; */
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  /* display: block; */
}

.guessBox {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* padding: 5px; */
  margin-right: 3px;
  justify-content: center;
  align-items: center;
  width: 850px;
  /* border: thin solid #ddd; */
}

.insideBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.message{
  width: 350px;
  padding: 5px;
  font-family: 'Gruppo';font-size: 18px;
  border: thin solid rgb(207, 218, 219);
  height: 70px;
  text-align: center;
  color: rgba(9, 31, 44, 0.719);
}

.guessRow {
  margin: .5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: #acc5e2;
  border: thin solid #97b7dd;
  width: 80px;
  height: 70px;
  margin: 2px;
  font-size: 25px;
  cursor: none;
  flex: 2;
  color: rgba(12, 40, 56, 0.719);

}

.timer {
	color: #666;
  margin: 5px;
  font-family: 'Gruppo';
  font-size: large;
}

.alertMessage{
  text-align: center;
}
.exit{
  font-size:45px;
   /* position: absolute;
  top: 16px; */
  color: #6c757d;
  cursor: pointer;
  position: relative;
  left: 0;
}
.exitText{
  margin-top: 3px;
  margin-bottom: 2px;
  font-family: 'Gruppo';font-size: 20px;
  text-align: center;
  color: #666;
}